_site
.DS_Store
.jekyll
.jekyll-metadata
.sass-cache
package.json
config.cson
todo.md
_drafts
_notes/*.md
!_notes/*rpm*.md
!_notes/*test*.md
tags/*.html
!tags/tag-rpm.html
!tags/tag-grep.html
!tags/tag-switches.html
