---
layout: default
title: Notes
---
    <div id="main" role="main" class="container">
        <article>
          <h1>{{ page.title }}</h1>
          <div class="entry">
              <input placeholder="search ..." autofocus>

              <ul>
                  {% assign tags =  site.notes | map: 'tags' | join: ','  | split: ',' | uniq %}
                  {% for tag in tags %}
                      <li class="item" data-tag="{{tag}}">
                          {% assign tagSize = site.notes | where: "tag", {{tag}} | size %}
                          <a href="{{ site.baseurl }}/tags/{{ tag }}">
                              {{ tag }}<sub>{{tagSize}}</sub>
                          </a>
                      </li>
                  {% endfor %}
              </ul>
          </div>
        </article>
    </div>
    {% comment %}{% include footer.html %}{% endcomment %}
    {% include jquery.html %}
    {% include jsearch.html %}
