<!--
<script >
    $("td:first-of-type, th:first-of-type")
    .css({ position: "relative" })
    .prepend("<div class='resizer'></div>")
    .resizable({
        option: "disabled",
        resizeHeight: false,
        onDragStart: function(e, $el, opt) {
          if (!$(e.target).hasClass("resizer"))
            return false;
          return true;
        }
    });
    $("#main td").css('white-space','normal')

    $("td:first-of-type, th:first-of-type").resizable( "disable" );
</script>
-->

<script>
    //on mobile, resort table right-to-left so description comes before command
    (function($) {
    	function mediaSize() {
    		if (window.matchMedia('(max-width: 640px)').matches) {
                $("td, th").each(function() {
                  $(this).parent().prepend(this);
                });
    		}
    	};

      mediaSize();
      window.addEventListener('resize', mediaSize, false);
    })(jQuery);
</script>

<!--
    function calcUsedWidth(){
        var tableWidth = $('table').css('width');
        var maxPageWidth = $('#main').css('max-width');
        var usedWidth = parseInt(tableWidth) / parseInt(maxPageWidth);
        console.log(tableWidth + " " + usedWidth);

        if(usedWidth > .7){
            $("td:first-of-type, th:first-of-type").resizable( "enable" );
        }
        else {
            $("td:first-of-type, th:first-of-type").resizable( "disable" );
        }
    }
-->
