<script >
    $("td:first-of-type, th:first-of-type")
    .css({ position: "relative" })
    .prepend("<div class='resizer'></div>")
    .resizable({
        resizeHeight: false,
        onDragStart: function(e, $el, opt) {
          if (!$(e.target).hasClass("resizer"))
            return false;
          return true;
        }
    });
    $("#main td").css('white-space','normal')
</script>

<script>
    (function($) {
    	function mediaSize() {
    		if (window.matchMedia('(max-width: 650px)').matches) {
                $("table td").each(function() {
                  $(this).parent().prepend(this);
                });
    		}
    	};

      mediaSize();
      window.addEventListener('resize', mediaSize, false);
    })(jQuery);
</script>
