[class^=bg][class*="notes"] { background-color: #f1f3f5; }
.note h3::after { background: linear-gradient(to right,rgba(116,95,181,.2),transparent 80%); }

.bg-notes .entry { margin-left: 1em; }

.note .highlight {
    max-width: 500px;
    min-width: 300px;
    min-height: 250px;
}

.note h1 {
    font-size: 2.25em;
    font-weight: 200;
    text-align: center;
    text-transform: lowercase;
 }
.note * {
    color: #345;
    font-family: segoe ui,helvetica neue,sans-serif
}
.note h3 {
    color: #745fb5;
    font-size: 1.1em;
    font-weight: normal;
}
