---
layout: default
---
    <div id="main" role="main" class="container">
        {% assign updated = page.date | date: "%x" %}
        <article>
            <!--<div class="date">
                Last Updated: {{ updated }}
            </div>-->
            <h1 data-id="{{page.id}}">
                {{ page.title }}
                <span data-descr="favorites" class="icon-heart">&#10084;</span>
            </h1>

            <div class="entry clearfix">
                {{ content }}
            </div>
        </article>
    </div>
    {% comment %}{% include footer.html %}{% endcomment %}
    {% include highlight.html %}
    {% include jquery.html %}
    {% include js-table.html %}
    {% include js-fave.html %}
