---
layout: default
---

    <div id="main" role="main" class="container">
        {% assign posted = page.posted | date: "%x" %}
        {% assign updated = page.date | date: "%x" %}
        <article class="post">
            <h1>{{ page.title }}</h1>
            <div class="date">
                Posted: {{ posted }}
            </div>
            <div class="date">
                {% if posted != updated %}
                    Last Updated: {{ updated }}
                {% endif %}
            </div>
            <div class="entry">
                {{ content }}
            </div>
        </article>
    </div>

    <script src="../js/highlight.pack.js"></script>
    <script src="../js/highlight.js"></script>
